/*under navigation header*/
section{
    width:100%;
    float: left;
    height: 100vh;
    position:fixed;
}

.home-header{
    position: absolute;
    top:54%;
    left:22%;
    transform: translate(-50%, -50%);
    color:whitesmoke;
    font-size: 160px;
    font-family: 'Staatliches', cursive;
    font-weight:bold;
    margin:0px 1px;
    text-shadow: 5px 5px 19px black;
}

.blue{
    color:rgb(77, 145, 255);
    text-shadow: 10px 10px 19px black;
}

.let-me{
    color:black;
    text-decoration: none;
}

.new-line{
    white-space: pre-line;
}